details summary::-webkit-details-marker {
  display: none;
}
summary::before {
  position: absolute;
  top: 1rem;
  left: 0.8rem;
  transform-origin: center;
  transition: 0.2s transform ease;
}
details[open] > summary:before {
  transform: rotate(90deg);
  transition: 0.45s transform ease;
}
